
body {
    margin: 0px; /*browser automatically adds 8px by default */
    background-color: lightgrey;
}

canvas {
    /* height: 100%;
    width: 100%; */
    border-radius: 2px;
    border: solid;
    border-color: black;
}